/.project
/.pydevproject
/data/
/.buildpath
*.o
**/*.csv
**/*.dbf
**/*.shp
**/*.shx
**/*.pdf
**/*.xlsx
**/*.txt
**/*.pptx
/.vscode
prj2wepp/wepp/hill.slp
prj2wepp/wepp/data/managements
prj2wepp/wepp/runs/p0*
prj2wepp/tmp**
.coverage
/build
**/pydep.egg-info/
