/.project
/.pydevproject
/dist
/data/
/.buildpath
**/*.egg-info
*.o
**/*.csv
**/*.dbf
**/*.shp
**/*.shx
**/*.pdf
**/*.tif
**/*.xlsx
**/*.txt
**/*.pptx
**/*.png
**/*.feather
**/*.zip
/.vscode
prj2wepp/wepp/hill.slp
prj2wepp/wepp/data/managements
prj2wepp/wepp/runs/p0*
prj2wepp/tmp**
.coverage
coverage.xml
/build
scripts/RT/rabbitmq.json
scripts/dynamic_tillage/plots*
