html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}

  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }
  
    .row-offcanvas-right
  .sidebar-offcanvas {
    right: -248px; /* 6 columns */
  }
  
    .row-offcanvas-right.active
  .sidebar-offcanvas
   {
    right: 0px; /* 6 columns */
  }
  
    .sidebar-offcanvas {
    z-index: 3;
    position: absolute;
    top: 0;
    width: 300px; /* 6 columns */
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }
html,body {
		height:100%;
}
body {
	padding-top: 0px !important;
}
.container-fluid {
	z-index: 2;
    height:100%;
    width: 100%;
    padding: 0px !important;
    margin: 0px !important;
}

.fill{
	z-index: 2;
    width:100%;
    height:100%;
    min-height:100%;
    padding: 0px !important;
    margin: 0px !important;
}
#map {
	z-index: 2;
	background-color: #00f;
}
#sidebar {
	margin: 0px;
	padding: 0px;
	height: 100%;
	min-height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}
#sidebar-content {
	position: absolute;
	top: 0px;
	background-color: #fff;
	height: 100%;
	width: 248px;
	margin-left: 52px;
	min-height: 100%;
	overflow-y: scroll;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
}
.btn-sq-sm i{
  font-size: 28px !important;
}

#colorbar {
	position: absolute;
	left: 1em;
	top: 8em;
	background: rgba(0,0,0,0.8);
	z-index: 1000;	
}
#maptitle {
	position: absolute;
	top: 0px;
	left: 5em;
	background: rgba(0,0,0,0.8);
	color: #FFF;
	font-weight: bold;
	font-size: 1.2em;
	padding-left: 20px;
	padding-right: 20px;
	z-index: 1000;
}